.kire
{
margin-top: 35%;
margin-bottom: 10px;
width: 40%;
margin-left: 30%;
}
.pass
{
margin-left: 30%;
width: 40%;
margin-bottom: 10px;
}
.login
{
margin-left: 30%;
margin-bottom: 10px;
width: 40%;
}
.box
{
  margin-top: 150px;
  margin-left: 35%;
  margin-right: 35%;
  height: 550px;

}
#div1
{
  text-align: right;
  background-color: white;
}
.mbutton
{
  margin-left: 30%;

  width: 40%;
}
.body1
{
  background-color: #a132f0;

}
.modaldesign
{
  margin-left: 3%;
width: 180%;
}
.select
{
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: -10px;
}
.collapse1
{
height: 70px;
width: 50%;
text-align: left;
font-size: 30px;

margin-left: 10%;


}
.collapse2
{
  height: 70px;
  width: 50%;
  text-align: left;
  font-size: 30px;
  margin-left: 10%;



}
.table1
{

  text-align: left;
  font-size: 20px;

  margin-left: 10%;
  width: 50%;
  margin-bottom: 10px;



}
.body2
{
  background-image: url('background3.jpg');
   background-size: 100% 100%;

    background-attachment: fixed;
}
.cartbtn
{
  float: right;
}
.pricetag
{
  float: right;
  font-size: 15px;
  margin-top: 15px;
  color: #b2beb5;
}
.nav1
{
  height: 100px;
}
.navside
{
  margin-right:  21%;
}
.navlogo
{
  margin-left:  9.5%;
}
.footersize
{
margin-top: 5%;
}
.cardaccount
{ margin-top: 100px;
  margin-left: 200px;
}
.cardaccount1
{
  margin-top: -178px;
  margin-left:  520px;

}
